.footer {
    width: 100%;
    background-color: #87cce9;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer__content {
    width: 100%;
    max-width: 1440px;
    color: #fff;
    padding: 50px 70px;
    margin-top: 50px;

    .footer__top {
        display: flex;
        justify-content: space-between;

        .footer__top__left {
            width: 25%;

            .footer__top__left__image {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                justify-content: space-around;

                img {
                    width: 80px;
                }
            }

            .footer__top__left__contact {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

        .footer__top__center {
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            .footer__top__center__left {
                ul {
                    list-style: none;

                    li {
                        margin-bottom: 15px;
                        font-size: 0.9rem;
                        cursor: pointer;

                        &:hover {
                            color: #2d4061;
                        }
                    }

                    .title {
                        font-size: 1.15rem;
                    }
                }
            }

            .footer__top__center__right {
                ul {
                    list-style: none;

                    li {
                        margin-bottom: 15px;
                        font-size: 0.9rem;
                        cursor: pointer;

                        &:hover {
                            color: #2d4061;
                        }
                    }

                    .title {
                        font-size: 1.15rem;
                    }
                }
            }
        }

        .footer__top__right {
            .footer__top__right__title {
                font-size: 1.15rem;
                margin-bottom: 15px;
            }

            .footer__top__right__link {
                display: flex;
                justify-content: space-between;

                i {
                    font-size: 2rem;
                    cursor: pointer;
                    color: #fff;
                }
            }


        }
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding: 30px 0px;

        .footer__bottom__left__address {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin-bottom: 0px;
            }
        }
    }

    .footer__copyright {
        p {
            text-align: center;
            margin-top: 40px;

        }
    }
}

@media (max-width: 1024px) {
    .footer__content .footer__bottom .footer__bottom__left__address {
        font-size: 0.9rem;

        .material-symbols-outlined {
            font-size: 1.15rem;
        }
    }

    .footer__content .footer__top .footer__top__left .footer__top__left__contact {

        p {
            font-size: 0.7rem;
            margin-left: 20px;
            margin-bottom: 0px;
        }
    }

    .footer__content .footer__top .footer__top__left .footer__top__left__image {
        p {
            font-size: 0.9rem;
            margin-left: 10px;
        }
    }

    .footer__content {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .footer__content {
        padding: 50px 30px;
    }

    .footer__content .footer__bottom .footer__bottom__left__address {
        font-size: 0.6rem;

        .material-symbols-outlined {
            font-size: 1rem;
        }
    }

    .footer__content .footer__top .footer__top__right .footer__top__right__title {
        font-size: 1.15rem;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .footer__content .footer__top {
        flex-direction: column;
    }

    .footer__content .footer__top .footer__top__left {
        width: 100%;

        .footer__top__left__image {
            justify-content: left;
        }

        .footer__top__left__contact {
            justify-content: left;

            p {
                font-size: 1rem;
            }
        }
    }

    .footer__content .footer__top .footer__top__center {
        display: none;
    }

    .footer__content .footer__bottom {
        flex-direction: column;

        .footer__bottom__left__address {
            justify-content: left;
            font-size: 0.9rem;
        }
    }

    .footer__content .footer__top .footer__top__right .footer__top__right__link {
        width: 30%;
    }
}

@media (max-width: 375px) {
    .footer__content .footer__bottom {

        .footer__bottom__left__address {
            font-size: 0.6rem;
        }
    }

    .footer__content .footer__top .footer__top__left .footer__top__left__contact p {
        font-size: 0.7rem;
    }

    .footer__content .footer__top .footer__top__right .footer__top__right__link {
        width: 30%;

        i {
            font-size: 1.15rem;
        }
    }

    .footer__content .footer__top .footer__top__right .footer__top__right__title {
        font-size: 1rem;
    }
}