.content__wrapper {
    background: linear-gradient(to bottom, #71c0ec, #82c9ea, #94d2e8, #a8dae7, #bde2e8, #bde2e8, #bde2e8, #bde2e8, #a8dae7, #94d2e8, #82c9ea, #71c0ec);
    width: 100%;
    display: flex;
    justify-content: center;

    .content_container {
        width: 100%;
        max-width: 1440px;
        font-family: 'Mooli', sans-serif;
        padding-bottom: 5%;

        .content {
            display: flex;
            justify-content: space-evenly;

            .content_left {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h1 {
                    color: #fff;
                    font-size: 3.25rem;
                    font-weight: 900;
                    line-height: 4.5rem;
                }

                .primary_button {
                    background-color: #73c160;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 31px 0px rgba(0, 0, 0, 0.1);
                }

                p {
                    color: #fff;
                    text-align: center;
                    width: 80%;
                }
            }

            .content_right {
                width: 50%;
                display: flex;
                justify-content: center;

                img {
                    border-radius: 20px;
                    box-shadow: 2px 2px 31px 0px rgba(0, 0, 0, 0.1);
                    // width: 80%;
                    // object-fit: cover;
                }
            }
        }

        .course_title {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 100px;
            }
        }

        .banner {
            display: flex;
            margin-top: 3%;
            // align-items: center;

            .banner_image {
                width: 85%;
                margin: 0 auto;
                border-radius: 15px;
            }
        }
    }


}

.knowledge_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .knowledge_container {
        font-family: 'Mooli', sans-serif;
        width: 100%;
        max-width: 1440px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            color: #274c9a;
            font-family: sans-serif;
            font-size: 1.75rem;
            font-weight: 600;
        }

        margin-top: 3%;

        .knowledge_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .knowledge_box_image {
                width: 23%;

                img {
                    width: 100%;
                    border-radius: 15px;
                }
            }
        }
    }
}

.course_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .course_container {
        font-family: 'Mooli', sans-serif;
        width: 100%;
        max-width: 1440px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            color: #274c9a;
            font-family: sans-serif;
            font-size: 1.75rem;
            font-weight: 600;
        }

        margin-top: 3%;

        .course_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .course_box_image {
                cursor: pointer;
                width: 23%;
                height: 350px;
                background-image: url("https://firebasestorage.googleapis.com/v0/b/coffee-app-bbb51.appspot.com/o/course-01.jpg?alt=media&token=3855eea4-95e7-4ffb-ab3d-ff7ec2eb01ee&_gl=1*jxumhf*_ga*MTg4MTQzMTQzNS4xNjg5NzYzODI2*_ga_CW55HF8NVT*MTY5NjE2NDAwNi43NS4xLjE2OTYxNjQwMzIuMzQuMC4w");
                // background-size: cover;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 15px;
                position: relative;
                cursor: pointer;
                transition: transform .2s;

                &:hover {
                    transform: scale(1.05);
                }

                p {
                    margin-top: 110%;
                    text-align: center;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

.teacher__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .multicarousel-container {
        width: 100%;
        max-width: 1440px;
        margin-left: 20px;

        h3 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 30px;
            font-family: sans-serif;
            color: #274c9a;
            font-weight: 600;
        }

        .teacher {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 250px;
                border-radius: 50%;
                margin-bottom: 20px;
                transition: transform .5s;

                &:hover {
                    transform: scale(1.15);
                }
            }

            p {
                font-size: 1.15rem;
            }
        }
    }
}

.feedback__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .feedback {
        font-family: 'Mooli', sans-serif;
        width: 95%;
        margin: 0 auto;
        margin-top: 3%;
        max-width: 1440px;

        h2 {
            margin-bottom: 2%;
            font-family: sans-serif;
            font-size: 2rem;
            color: #274c9a;
            font-weight: 600;
        }

        .feedback_box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            // box-shadow: 2px 2px 31px 0px rgba(0, 0, 0, 0.1);

            .feedback_box_image {
                width: 30%;

                img {
                    width: 100%;
                    border-radius: 30px;
                    box-shadow: 2px 2px 31px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.images__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .images__container {
        h3 {
            text-align: center;
            margin-bottom: 20px;
            color: #274c9a;
            font-family: sans-serif;
            font-weight: 600;
        }

        .images {
            width: 100%;
            max-width: 1440px;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: space-evenly;

            .image {
                width: 30%;
                transition: transform .2s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }

                img {
                    width: 100%;
                    border-radius: 15px;
                    height: 250px;
                    object-fit: cover;
                }
            }
        }
    }


}

.questions__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-top: 70px;

    .questions__container {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        padding: 0px 60px;

        .questions__left {
            font-family: 'Quicksand', sans-serif;
            width: 60%;

            h2 {
                font-family: 'Quicksand', sans-serif;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #2d4061;
                width: 70%;
                padding: 15px 0px;
                color: #2d4061;
                cursor: pointer;
                margin-bottom: 0px;

                span {
                    color: #2d4061;
                }
            }
        }

        .questions__right {
            font-family: 'Quicksand', sans-serif;
            width: 40%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to bottom, #71c0ec, #82c9ea, #94d2e8, #a8dae7, #bde2e8, #bde2e8, #bde2e8, #bde2e8, #a8dae7, #94d2e8, #82c9ea, #71c0ec);
            border-radius: 20px;

            h2,
            p {
                text-align: center;
            }

            .form__group {
                width: 90%;
                margin-bottom: 10px;

                label {
                    margin-left: 40px;
                }

                input {
                    outline: none;
                    border-radius: 10px;
                    padding: 10px;
                    width: 80%;
                    margin-left: 40px;
                }
            }

            .checkbox__container {
                margin-top: 20px;
                margin-bottom: 20px;

                label {
                    color: #6c665e;

                    input {
                        margin-right: 10px;
                    }
                }
            }

            .submit__button {
                padding: 10px 30px;
                border-radius: 20px;
                background-color: #0263c4;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 1024px) {

    html {
        overflow-x: hidden;
    }

    .content__wrapper .content_container .content .content_left h1 {
        font-size: 2.15rem;
    }

    .content_right {
        img {
            width: 80%;
            // object-fit: cover;
        }
    }

    .content__wrapper .content_container .content .content_left .primary_button {
        border-radius: 5px;
        font-size: 0.8rem;
    }

    .teacher__wrapper {
        margin-top: 0px;
    }

    .feedback__wrapper .feedback .feedback_box .feedback_box_image {
        width: 28%;
    }

    .feedback__wrapper .feedback .feedback_box {
        justify-content: space-evenly;
        gap: 50px;
    }

    .images__wrapper .images__container .images .image {
        width: 25%;
    }

    .questions__wrapper .questions__container .questions__left {
        width: 45%;
    }

    .questions__wrapper .questions__container .questions__right {
        width: 50%;

    }
}

@media (max-width: 768px) {

    .content__wrapper .content_container .content .content_left {
        width: 40%;
        padding-left: 10px;

        p {
            font-size: 0.8rem;
        }
    }

    .content__wrapper .content_container .content .content_left h1 {
        font-size: 1.70rem;
    }

    .content__wrapper .content_container .content .content_right {
        width: 50%;
    }

    .content_right img {
        width: 80%;
        // object-fit: cover;
    }

    .content__wrapper .content_container .content .content_left .primary_button {
        border-radius: 5px;
        font-size: 0.6rem;
    }

    .knowledge_wrapper .knowledge_container {
        h3 {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }
    }

    .course_wrapper .course_container {
        h3 {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }
    }

    .course_wrapper .course_container .course_box .course_box_image p {
        font-size: 1rem;
    }

    .course_wrapper .course_container .course_box .course_box_image {
        height: 250px;
    }

    .teacher__wrapper .multicarousel-container h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .feedback__wrapper .feedback h2 {
        font-size: 1.5rem;
    }

    .questions__wrapper .questions__container .questions__left {
        width: 40%;

        p {
            font-size: 0.6rem;
        }
    }

    .questions__wrapper .questions__container .questions__right {
        width: 55%;
        padding: 20px;

        h2 {
            font-size: 1.25rem;
        }

        p {
            font-size: 0.8rem;
        }

        .form__group {
            input {
                margin-left: 30px;
            }

            label {
                font-size: 0.9rem;
            }
        }

        .checkbox__container {
            h5 {
                font-size: 1rem;
            }

            label {
                font-size: 0.8rem;

            }
        }
    }

    .images__wrapper .images__container .images .image {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .content__wrapper .content_container .content .content_left h1 {
        text-align: center;
    }

    .content__wrapper .content_container .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content__wrapper .content_container .content .content_right {
        width: 90%;

        img {
            width: 90%;
        }
    }

    .content__wrapper .content_container .content .content_left {
        width: 90%;
    }

    .feedback__wrapper .feedback .feedback_box .feedback_box_image {
        width: 40%;
    }

    .questions__wrapper .questions__container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .questions__wrapper .questions__container .questions__left {
        width: 100%;
    }

    .questions__wrapper .questions__container .questions__left p {
        font-size: 0.9rem;
        width: 100%;
    }

    .questions__wrapper .questions__container .questions__right {
        width: 75%;
    }
}

@media (max-width: 375px) {
    .content__wrapper .content_container .content .content_left h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .knowledge_wrapper .knowledge_container {
        h3 {
            font-size: 1.15rem;
        }
    }

    .course_wrapper .course_container {
        h3 {
            font-size: 1.15rem;
        }
    }

    .course_wrapper .course_container .course_box .course_box_image {
        height: 150px;

        p {
            font-size: 0.7rem;
        }
    }

    .teacher__wrapper .multicarousel-container h3 {
        font-size: 1.25rem;
    }

    .teacher {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .feedback__wrapper .feedback h2 {
        font-size: 1.25rem;
    }

    .feedback__wrapper .feedback .feedback_box .feedback_box_image {
        width: 90%;
    }

    .images__wrapper .images__container h3 {
        font-size: 1.25rem;
    }

    .images__wrapper .images__container .images .image {
        width: 85%;
    }

    .questions__wrapper .questions__container {
        padding: 0px 30px;
    }

    .questions__wrapper .questions__container .questions__right {
        width: 100%;
    }

    .questions__wrapper .questions__container .questions__right .form__group input {
        margin-left: 10%;
    }

}